name: Static code analysis

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  detect-go-modules:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - id: set-matrix
        run: |
          # Find all directories containing go.mod, create a JSON list
          MODULES=$(find . -name "go.mod" -not -path "./vendor/*" -exec dirname {} \; | jq -R -s -c 'split("\n")[:-1]')
          echo "matrix=$MODULES" >> $GITHUB_OUTPUT

  golangci-lint:
    needs: detect-go-modules
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false  # don't cancel other modules linting if one fails
      matrix:
        module: ${{ fromJson(needs.detect-go-modules.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: stable
          cache: false

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          working-directory: ${{ matrix.module }}
